/* header */
.headArea {
  display: flex;
  /* position: fixed; */
  align-items: center;
  height: 6vh;
  width: 100vw;
  background-color: #193498;
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.5);
  /* // header固定 */
  position: sticky;
  top: 0;
  z-index: 1;
}

.headTitle {
  margin: 0;
  margin-left: 1%;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.TopButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-left: auto;
  margin-right: 10%;
  text-shadow: 0 0 2px white;
  background: #69d9db;
  border: none;
  outline: none;
  border-radius: 5rem;
}
.TopButton:hover {
  background: #8feced;
}

/* footer */
.footArea {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #193498;
  height: 6vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -10px 25px 0 rgba(0, 0, 0, 0.5);

  /* // footer固定 */
  /* position: sticky;
  bottom: 0;
  z-index: 1; */
}

h2 {
  font-size: 2rem;
}

/*  */
.mainContent {
  width: 100%;
  /* margin: 5vh auto; */
  height: 88vh;
}

.top {
  display: flex;
  flex-flow: column;
  /* text-align: center; */
  margin: 7rem auto;
  align-items: center;
}
.make {
  display: flex;
  flex-flow: column;
  /* text-align: center; */
  /* margin: 7rem auto; */
  align-items: center;
}

.headlineArea {
  display: flex;
  align-items: center;
  height: 7vh;
  width: 92%;
}

.inputPop {
  width: 30%;
  margin: 1px 10px;
  font-size: 1.5rem;
}

.headline {
  display: flex;
  width: 40vw;
  height: 100%;
  align-items: center;
  margin-left: 0;
}

.headBox {
  margin-left: 1vw;
  position: relative;
  text-shadow: 0 0 2px white;
  background: #69d9db;
  z-index: -2;
  padding: 0.3rem;
  border-radius: 10px;
  font-size: 30px;
}

.imgView {
  display: inline;
  height: 14vh;
  margin: 3px;
}
.img-wrap {
  margin: 0px 1vw;
  width: 14vw;
  height: 14vw;
}
img {
  border-radius: 10px;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .imgViewMini {
  display: inline;
  width: 15vw;
  border-radius: 2px;
} */

.img_box {
  /* background-color: #1597e5;
  border: #193498 1px;
  margin: 0.2rem;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px; */

  display: flex;
  background-color: #1597e5;
  justify-content: center;
  flex-wrap: wrap;
  height: 15vw;
  box-shadow: inset 0px 0px 25px 0 rgba(0, 0, 0, 0.5);
  /* padding: 10px 0; */
}

img:hover {
  box-shadow: 0px 0px 10px 10px #69d9db;
}

/* button:hover {
  background-color: #1597e5;
  box-shadow: 0px 0px 10px 10px #505151;
} */
/* button */

/* .button {
  width: 30vw;
  font-size: 1.5rem;
  font-weight: bold;
  background: #69d9db;
  margin: 2rem;
  border: none;
  outline: none;
  border-radius: 5rem;
} */

/*  */

.button_div {
  margin: 2rem;
}

.button {
  width: 30vw;
  font-size: 1.5rem;
  font-weight: bold;
  background: #69d9db;
  /* margin: 2rem; */
  border: none;
  outline: none;
  border-radius: 5rem;

  color: #000;
  border-bottom: 5px solid #00a3cc;
}

.button:hover {
  margin-top: 3px;
  color: #000;
  background: #69d9db;
  border-bottom: 2px solid #00a3cc;
}
/*  */

.wrapper {
  justify-content: space-around;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* ##################### */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 88vh;
  object-fit: cover;
}

.slide {
  font-size: 5rem;
  text-align: center;
  height: 88vh;
  line-height: 88vh;
}
